# Entorno virtual
venv/
ENV/
env/
.venv/
.rasa/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs y bases de datos
*.log
*.sqlite3

# Configuración de entornos y editores
*.env
*.DS_Store
.vscode/
.idea/
*.swp

# Archivos de distribución
build/
dist/
*.egg-info/

# Jupyter Notebooks checkpoints (si usas notebooks)
.ipynb_checkpoints/

# Archivos de cobertura de pruebas
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Archivos de configuración de mypy
.mypy_cache/

# Archivos de caché de pip
pip-wheel-metadata/
__pypackages__/